
@font-face {
	font-family: Fjalla;
	src: url('./fonts/Fjalla_One/FjallaOne-Regular.ttf');
}

@font-face {
	font-family: Libertinus;
	src: url('./fonts/Libertinus_Sans/LibertinusSans-Regular.ttf');
}